
<table >
  <thead>
<tr *ngFor="let beam of beams; let i = index">
  <td>{{ beam.ReferencedBeamNumber }}</td>
  <td>{{ beam.ReferencedFractionGroupNumber }}</td>
  <td>{{ beam.CurrentFractionNumber }}</td>
  <td>
    <label class="arrow-radio">
      <input type="radio" name="row{{i}}" value="treated"
             (click)="onSelect(i, 'treated')">
    </label>
  </td>
  <td>
    <label class="arrow-radio">
      <input type="radio" name="row{{i}}" value="partially-treated"
             (click)="onSelect(i, 'partially-treated')">
    </label>
  </td>
  <td>
    <label class="arrow-radio">
      <input type="radio" name="row{{i}}" value="not-treated"
             (click)="onSelect(i, 'not-treated')">
    </label>
  </td>
</tr>
  </thead>
</table>
<button (click)="submit()">Submit</button>
<pre>{{ output }}</pre>
